#grad1 {
    height: 350px;
    width: 450px;
    background-color: rgb(0, 17, 255); /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, rgb(37, 164, 214) , rgb(87, 15, 129));
  }
